*{padding: 0; margin: 0; box-setting: border-box;}
	header{
		width: 100%;
		height: 100vh;
		background: url("./img/giveawayimage3.jpg");
		background-size: cover;
		font-family: sans-serif;
	}
	
	nav{
		width: 100%;
		height: 100px;
		color: white;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.logo{
		font-size: 2em;
		letter-spacing: 2px;
	}
	
	.menu a{
		text-decoration: none;
		color: white;
		padding: 10px 20px;
		font-size: 20px;
	}
	
	.register a{
		text-decoration: none;
		color: white;
		padding: 10px 20px;
		font-size: 20px;
		background: indianred;
		border-radius: 8px;
	}

	.h-txt{
		max-width: 650px;
		position: absolute;
		top: 40%;
		left: 25%;
		tranform: translate(-50%, -50%);
		text-align: center;
		color: white;
	}
	.h-txt span{
		letter-spacing: 5px;
	}
	.h-txt h1{
		font-size: 3.5em;
	}
	.h-txt a{
		text-decoration: none;
		background: indianred;
		color: white;
		padding: 10px 20px;
		letter-spacing: 5px;
	}